.superInput {
 background: transparent;
 color: #fff;
 border: 2px solid #fdfdfd;
 border-radius: 2px 5px;
}
.default{
    border: 2px solid;
    border-radius: 2px 5px;
    padding: 5px 2px;
}
.errorInput {
    border: 3px solid #080808;
    background: #ad0505e6;
    content: 'where text:-?';
}

.error {
    color: red;
}